*{

margin:0;
padding:0;

}
header{
    margin:5px;
    top:0;
    display:flex;
    justify-content:space-between;
    background:rgba(0,0,0,0.589);
    padding:30px 30px;
    font-family: "Monstserrat",sans-serif;
}

header .left-menu{

display:flex;

}
header .left-menu .links{
    display:flex;
    justify-content:left ;
    align-items: center ;
    padding:0 50px;
}
header .left-menu .links a{

    color:rgba(255,255,255, .6);
    text-decoration: none;
    padding:0 10px;

}
header .right-menu{
    display:flex;
    justify-content:right ;
    align-items: center ;

}
header .right-menu a{
    padding:0 10px;
    text-decoration: none;
    color: rgba(255,255,255, .6);
}

header .right-menu .dash{
    padding:0 10px ;
    color:rgba(255,255,255, .6);

}

header .right-menu .join{

    background-color: #0375d5;
    padding: 10px;
    border-radius: 50px;
}
header .right-menu .LOGIN{

    background-color: #0375d5;
    padding: 10px;
    border-radius: 50px;
}




.logo{

    animation:.8s infinite movement
}
@keyframes movement{
0%{
    transform: scale(1);
}
25%{
    transform: scale(1.1);
}
40%{
    transform: scale(1);
}
60%{
    transform: scale(1.1);
}
100%{
    transform: scale(1);
}

}
*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
body{
    line-height: 1.5;
}
.card-wrapper{
    max-width: 1100px;
    margin: 0 auto;
}
img{
    width: 100%;
    display: block;
}
.img-display{
    overflow: hidden;
}
.img-showcase{
    display: flex;
    width: 100%;
    transition: all 0.5s ease;
}
.img-showcase img{
    min-width: 100%;
}
.img-select{
    display: flex;
}
.img-item{
    margin: 0.3rem;
}
.img-item:nth-child(1),
.img-item:nth-child(2),
.img-item:nth-child(3){
    margin-right: 0;
}
.img-item:hover{
    opacity: 0.8;
}
.product-content{
    padding: 2rem 1rem;
}
.product-title{
    font-size: 2rem;
    text-transform: capitalize;
    font-weight: 700;
    position: relative;
    color: #12263a;
    margin: 1rem 0;
}
.product-title::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 4px;
    width: 80px;
    background: #12263a;
}
.product-link{
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.9rem;
    display: inline-block;
    margin-bottom: 0.5rem;
    background: #256eff;
    color: #fff;
    padding: 0 0.3rem;
    transition: all 0.5s ease;
}
.product-link:hover{
    opacity: 0.9;
}
.product-rating{
    color: #ffc107;
}
.product-rating span{
    font-weight: 600;
    color: #252525;
}
.product-price{
    margin: 1rem 0;
    font-size: 1rem;
    font-weight: 700;
}
.product-price span{
    font-weight: 400;
}
.last-price span{
    color: #f64749;
    text-decoration: line-through;
}
.new-price span{
    color: #256eff;
}
.product-detail h2{
    text-transform: capitalize;
    color: #12263a;
    padding-bottom: 0.6rem;
}
.product-detail p{
    font-size: 0.9rem;
    padding: 0.3rem;
    opacity: 0.8;
}
.product-detail ul{
    margin: 1rem 0;
    font-size: 0.9rem;
}
.product-detail ul li{
    margin: 0;
    list-style: none;
    background: url(shoes_images/checked.png) left center no-repeat;
    background-size: 18px;
    padding-left: 1.7rem;
    margin: 0.4rem 0;
    font-weight: 600;
    opacity: 0.9;
}
.product-detail ul li span{
    font-weight: 400;
}
.purchase-info{
    margin: 1.5rem 0;
}
.purchase-info input,
.purchase-info .btn{
    border: 1.5px solid #ddd;
    border-radius: 25px;
    text-align: center;
    padding: 0.45rem 0.8rem;
    outline: 0;
    margin-right: 0.2rem;
    margin-bottom: 1rem;
}
.purchase-info input{
    width: 60px;
}
.purchase-info .btn{
    cursor: pointer;
    color: #fff;
}
.purchase-info .btn:first-of-type{
    background: #256eff;
}
.purchase-info .btn:last-of-type{
    background: #f64749;
}
.purchase-info .btn:hover{
    opacity: 0.9;
}
.social-links{
    display: flex;
    align-items: center;
}
.social-links a{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    color: #000;
    border: 1px solid #000;
    margin: 0 0.2rem;
    border-radius: 50%;
    text-decoration: none;
    font-size: 0.8rem;
    transition: all 0.5s ease;
}
.social-links a:hover{
    background: #000;
    border-color: transparent;
    color: #fff;
}

@media screen and (min-width: 992px){
    .card{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 1.5rem;
    }
    .card-wrapper{
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .product-imgs{
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .product-content{
        padding-top: 0;
    }
}

footer{
    margin-top: 30px;
    padding: 20px;
    background:rgba(0,0,0,0.589);
}

.main{
    display: flex;
    align-content:center;
    justify-content:center;
    padding: 30px;
}

.cpoy{
    display: flex;
    align-content: center;
    justify-content: center;
    color: rgba(255,255,255, .6);
    text-decoration: none;
}

.main a span{
    color: rgba(255,255,255, .6);
    padding: 0px 50px;
}

a{
    text-decoration: none;
}

.main dash{
    color: rgba(255,255,255, .6);
    
}

.main a span:hover{
    color: rgb(255,255,255);
    padding: 0px 50px;
}

}